h1 {
  color: red;
  font-family: "Lobster", cursive;
  font-size: 70px;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 35px;
}

/*font-family: 'Lobster', cursive;
font-family: 'Poppins', sans-serif;*/
